body{
    background-color: rgb(219, 255, 185);  
    font-size: 1em;
}

caption{
    caption-side: top;
    font-style: italic;
}

table {
    border: 3px solid rgb(0, 0, 165);
	border-collapse: collapse;
    width: 25em;
    background-color: rgb(199, 255, 165);
    box-shadow: 7px 4px black;
}

thead{
    color: red;
}

tfoot{
    color: rgb(0, 0, 60);
}

td,th{
	padding: 0.7em;
    border: 2px solid  rgb(38, 63, 22);
    text-align: center;
}