body{
    background-color: rgb(0, 161, 0);
    font-size: 1em;
}
div{
    background-color: rgb(175, 175, 175);
    margin-bottom: 1em;
    width: 10em;
    padding: 1em;
    font-size: 2em;
    border-radius: 10px;
}
div:hover{
    background-color: rgb(68, 68, 68);
}
.first{
    border-width: 10px;
    border-color: red;
    border-left-style: ridge;
}
.second{
    border-width: 10px;
    border-color: yellow;
    border-left-style: ridge;
}
.third{
    border-width: 10px;
    border-color: blue;
    border-left-style: ridge;
}
.fourth{
    border-width: 10px;
    border-color: green;
    border-left-style: ridge;
}
h1{
    font-size: 3em;
    margin-bottom: 7px;
}
a{
    text-align: center;
}
a:link{
    color: blue;
}
a:visited{
    color: purple;
}
