body{
    text-align: center;
    background-color: darkgreen;
}
h1{
    color: red;
}
div{
    margin-bottom: 2px;
    width: 7em;
    color: white;
    padding: 1em;
    font-size: 5em;
    border-radius: 1em;
    border: 6px solid white;
}
div:focus{
    background-color: blue;
    border: 6px solid white;
}
div:hover{
    color: blue;
    border: 4px solid lightskyblue;
}