body{
    text-align: center;
    background-color: darkgreen;
}
h1{
    color: red;
}
div{
    font-size: 5em;
    border-radius: 1em;
    border: 3px white;
}
div:focus{
    background-color: blue;
}
div:hover{
    color: blue;
    border: 2px lightskyblue;
}