body{
    background-color: #DEFF9C;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
ul{
    list-style-type: none;
    float: left;
}
li{
    margin: 3em;

}
h1{
    margin-left: 3em;
    font-size: 3em;
}