body{
    background-color: rgb(255, 243, 132);
    font-size: 2em;
}
h1{
	color: rgb(75, 58, 25);
}
h2{
	text-align: center;
	color: rgb(75, 58, 25);
}
div{
	margin: 1em;
    float: left;
    background-color: rgb(255, 230, 119);
    width: auto;
    height: 21em;
    box-shadow: 10px 15px 5px black;
}
a{
	outline: none;
    text-decoration:none;
	margin-top: 3px;
	display: inline-block;
	text-align: center;
    color: rgb(153, 120, 49);
    background-color: rgb(255, 230, 119);
    border: 2px solid rgb(153, 120, 49);
    border-radius: 2em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    width: 8em;
}
a:hover{
    color: rgb(255, 230, 119);
    background-color: rgb(75, 58, 25);
}
a:visited{
    color: rgb(153, 120, 49);
}