body{
    background-color: rgb(176, 184, 255);
}
.s{font-size: 0.5em;}
.n{font-size: 1em;}
.l{font-size: 1.5em;}
.ll{font-size: 2em;}
div{
    padding: 1em;
    width: 20em;
    margin-top: 1em;
    background-image: linear-gradient( rgb(176, 184, 255), rgb(88, 58, 255));
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 3px black;
    height: 25em;
}