@font-face {
    font-family: Mayestica;
    src: url(Mayestica.otf);
}
@font-face {
    font-family: myRistretto;
    src: url(ristretto.woff);
}
body{
    background-color: rgb(206, 255, 196);
}
div{
    padding: 1em;
    margin: 3em;
    width: 15em;
    box-shadow: 5px 3px black;
    background-image: linear-gradient(rgb(206, 255, 196), rgb(109, 255, 80));
}
.boxone{
    font-family: myRistretto, sans-serif;
}
.boxtwo{
    font-size: 150%;
    font-family: Mayestica, sans-serif;
}