body{
    background-color: rgb(169, 255, 135);
}
div{
    float: left;
    border: 2px solid red;
    box-shadow: 5px 10px black;
}
p{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}