body{
    background-color: rgb(169, 255, 135);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
figure{
    display: inline-block;
    margin: 3px;
    float: left;
    box-shadow: 5px 10px black;
}
figcaption{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 3px;
    margin-top: 4px;
}
#red{
    border: 2px solid red;
}
#green{
    border: 2px solid green;
}
#blue{
    border: 2px solid blue;
}